.marginLeft {
    margin-left: 10px;
}

.accuracyFont {
    font-size: 14px;
    font-family: 'Raleway';
}

.accuracyNumber {
    font-family: 'esti';
}

.logo {
    object-fit: contain;
    width: 100px;
    max-height: 100px;
    box-shadow: 0 0 0 1px rgba(67, 41, 163, 0.08),
        0 1px 5px 0 rgba(67, 41, 163, 0.08);
    position: absolute;
    bottom: -50px;
    right: 17%;
    border-radius: 5px;
    background-color: white;
}

.blue {
    color: #0070eb;
}

.esti {
    font-family: 'esti';
}
